body {
    background-color: lavenderblush;
    font-family: 'Verdana', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .background {
    opacity: 0.8;
    filter: blur(2px);
  }
  
  .scene-title {
    color: darkslateblue;
    text-align: center;
    padding-top: 100px;
    font-size: 48px;
    letter-spacing: 3px;
  }